// Override Bootstrap built-in custom variables
$enable-responsive-font-sizes: true;

$primary: #6c87bf;
$secondary: #d1686f;
$success: #04a04a;
$info: #17a2b8;
$warning: #f9ed6c;
$danger: #b90002;
$light: #f8fbfe;
$dark: #323232;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

$body-bg: $light;
$body-color: $dark;

$font-family-sans-serif: Montserrat, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1.125rem;
$font-size-sm: $font-size-base - .125;
$font-size-lg: $font-size-base * 1.25;
$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;

$headings-font-weight: 400;

$line-height-base: 1.75;

$link-color: white;
$link-hover-decoration: none;

$paragraph-margin-bottom: 0;