.how-it-works-btn {
    cursor: pointer;
    transition: 0.4s;
}

.how-it-works-btn:hover,
.how-it-works-btn.active {
    box-shadow: 0 22px 64px 0 rgba(34, 45, 61, 0.14);
}

.iphone-small-screenshot,
.iphone-large-screenshot,
.iphone-screenshot-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.iphones-display {
    position: relative;
    width: 580px;
    height: 700px;
    margin-left: auto;

    .background-shape {
        position: absolute;
        top: 0;
        left: 0;
    }

    .iphone-small-wrapper {
        position: absolute;
        left: 65px;
        bottom: 5px;

        .iphone-small-screenshot {
            height: 507px;
            width: 233px;
        }

        .iphone-small {
            position: relative;
            z-index: 1;
        }
    }

    .iphone-large-wrapper {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;

        .iphone-large-screenshot {
            height: 629px;
            width: 289px;
        }

        .iphone-large {
            position: relative;
            z-index: 1;
        }
    }
}

.how-it-works-btn-mobile {
    position: relative;
    z-index: 1;
    margin-top: -32px;
}

.previous-point,
.next-point {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
}

.previous-point:active,
.previous-point:focus,
.next-point:active,
.next-point:focus {
    outline: none;
}

.iphone-screenshot-mobile {
    height: 422px;
    width: 195px;
}