.bg-primary-gradient {
    background-image: linear-gradient(to left, #e9d573 0%, #db9b72 25%, #cd666d 50%, #6c87bf 75%, #7fadb8 100%);
}

.bg-secondary-gradient {
    background-image: linear-gradient(to bottom, #f8eb91, #efd358);
}

.text-small {
    font-size: $font-size-sm;
}

.text-black {
    color: #000;
}

.section-margin {
    margin-bottom: 100px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jumbotron {
    min-height: 100vh;

    .navbar-container {
        position: relative;
        z-index: 1;
    }
}

.make-a-difference {
    padding-top: 86px;
    padding-bottom: 86px;
}

.testimonials {
    padding-top: 65px;
    padding-bottom: 65px;
}

.contact {
    padding-top: 100px;
    padding-bottom: 100px;

    .subtitle {
        font-size: 12px;
        letter-spacing: 1px;
    }
}

@include media-breakpoint-down(sm) {
    .section-margin {
        margin-bottom: 40px;
    }

    .make-a-difference {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .testimonials {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .contact {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}