.slick-next-custom,
.slick-prev-custom {
    z-index: 1;
    position: absolute;
    display: block;
    cursor: pointer;
    background: transparent;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
}

.slick-prev-custom:hover,
.slick-prev-custom:focus,
.slick-next-custom:hover,
.slick-next-custom:focus {
    outline: none;
    background: transparent;
    color: transparent;
}

.slick-next-custom {
    right: 20%;
}

.slick-prev-custom {
    left: 20%;
}

.header-slider {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .header-slide {
        position: relative;
        min-height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .header-slide-1 {
        background-image: url('/src/assets/images/bg.jpg');
    }

    .header-slide-2 {
        background-image: url('/src/assets/images/bg.jpg');
    }

    .header-slide-3 {
        background-image: url('/src/assets/images/bg.jpg');
    }

    .slide-content {
        min-width: 300px;
    }
}

@include media-breakpoint-down(sm) {
    .slick-next-custom,
    .slick-prev-custom {
        display: none!important;
    }

    .play {
        width: 66px;
    }
}